.about-page {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 6.9%;
    color: #fff;
    background-color: #030c17;
}

.about-page h2 {
    font-size: 2.5rem;
    margin-top: 80px;
}

.profile-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details {
    max-width: 800px;
    flex: 1;
}

.profile-details h1 {
    font-size: 2.5rem;
    color: #ffd700;
    text-align: start;
    margin: 1%
}

.profile-details p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.carousel-section {
    margin-top: 40px;
}

.project-card {
    text-align: center;
    padding: 10px;
    background-color: #071426;
    border-radius: 10px;
}

.project-card h3 {
    color: #ffd700;
    margin-top: 10px;
}

.project-image {
    width: 380px;
    height: 210px;
    border-radius: 10px;
}

.faqs-section {
    margin-top: 40px;
}

.faq {
    background-color: #071426;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.faq.open {
    background-color: #0b2644;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question h3 {
    font-size: 1.69rem;
}

.faq-toggle {
    font-size: 1.5rem;
    color: #ffd700;
    padding-right: 30px;
}

.faq-answer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

.faq-answer p {
    font-size: 1.25rem;
    margin: 10px 0;
    text-align: start;
}

.faq-answer a {
    color: #ffd700;
    text-decoration: underline;
    font-size: 0.95rem;
}

.about-footer {
    margin-top: 120px;
    text-align: center;
}

.about-footer a {
    color: #ffd700;
    text-decoration: underline;
    font-size: 1.2rem;
}

/* Responsiveness */
@media (max-width: 768px) {
    .profile-section {
        flex-direction: column;
        text-align: center;
    }

    .profile-image {
        margin-bottom: 20px;
    }

    .profile-details h1 {
        font-size: 2rem;
    }

    .carousel-section {
        margin-top: 30px;
    }
}